/*----------variables para no tener que tocar el código si se quiere cambiar el background o la fuente---------------*/
:root {
    --background-image: url("../../public/img/xilo_resized.jpeg");
    --h1_h2_h3-font: "Italiana", serif;
    --body-font: "Inter", serif;
}

@media only screen and (max-width: 800px) {
    /*-------------cambio de background para tablet y pantallas pequeñas-------------*/
    :root {
        --background-image: url("../../public/img/violin.jpg");
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    
    font-family: var(--body-font);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*esta parte ajusta las posiciones de las cortinillas de los lados y de la base del carrusel.*/
.content {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    flex-grow: 1;
}

.content__curtain {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    display: flex;
    align-items: center;
    padding-right: 1%;    
    backdrop-filter: blur(5px);   
}

.content__curtain--right {
    justify-self: start;
    justify-content: start;
}

.content__curtain--left {
    justify-self: end;
    justify-content: flex-end;
}

.content__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.2);
}

.content__container__h1 {
    margin-top: 5%;
    width: 100%;
    height: 15%;
    text-align: center;
    color: rgb(248, 242, 242);
    font-size: 50px;
    font-weight: normal;
}

.content__container__div {
    width: 80%;
    height: 60%;
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    border-radius: 20px;    
}
/*--------------------------------carrusel------------------------------*/

.slider__item {
    width: 100%;
    height: 100%;   
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    border-radius: 20px;      
    border: 0.5px solid rgb(78, 76, 76);
    
}

.article__container {
    width: 100%;
    height: 100%;    
    display: grid;    
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "img text";
    place-items: center;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.slider__item__img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 1;
    overflow: hidden;
}

.slider__item__text {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    text-align: center;
    opacity: 1;   
    
}

h3{
    margin-top: 2rem;
    color: white;
    font-size: 2.5rem;
}

.slider__item__text--paragraph {
    margin-top: 1rem;
    color: white;
    font-size: 1.3rem;
}
.slider__item__text--charge {
    margin-top: -1rem;
    color: white;
    
}

.slider__item.active {
    display: block;
}

.slider__item__text i {
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 2rem;
    transition: 0.5s;
}

.slider__item__text i:hover {
    font-size: 3rem;
    transition: 0.5s;
}

/*-------------------------------- Botones--------------------------------------- */

.content__container__btn--left {
    background-color: rgb(15, 15, 15);
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 30px;
    text-align: center;
    margin-left: 10px;
}

.content__container__btn--right {
    background-color: rgb(15, 15, 15);
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 30px;
    text-align: center;
    margin-left: 15px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    color: white;
    padding: 15px;
    gap: 5px;
    margin: auto;
    bottom: 0;
    width: 100%;
    font-size: xx-small;
}

.footer__logo {
    width: 20%;
    height: auto;
}

@media only screen and (min-width: 650px) and (max-width: 1200px) {
    :root {
        --background-image: url("../../public/img/violin.jpg");
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "header"
            "content"
            "footer";
    }

    .header__nav {
        z-index: 2000;
    }

    .header__nav  .bi {
        display: block;
    }

    /*esta parte ajusta las posiciones de las cortinillas de los lados y de la base del carrusel.*/
    main {
        height: 100vh;
    }

    .content {
        grid-area: content;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        grid-template-rows: 1fr;
    }

    .content__curtain {
        width: 100%;
        background-color: black;
        opacity: 0.6;
        display: flex;
        align-items: center;
        padding-right: 15px;
        height: auto;
        backdrop-filter: blur(5px);
    }

    .content__container {
        width: 100%;
        height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(15, 15, 15, 0.2);
    }

    .content__container__div {
        width: 80%;
        height: 70%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }
    
    .content__container__h1 {
        margin-top: 10%;
        font-size: 2.5rem;
    }

    .slider__item {
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .article__container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "image"
            "text";
        padding: 1rem;
        backdrop-filter: blur(5px);
    }

    .slider__item__img {
        width: 60%;
        min-height: 30vw;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        display: block;
        border-radius: 50%;
        margin: 0 auto;
        grid-area: image;
    }

    .slider__item__text {
        max-height: 100%;
        grid-area: text;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    h3{
        margin-top: 1.5rem;
        color: white;
        font-size: 2rem;
    }
    
    .slider__item__text--paragraph {
        margin-top: 2rem;
        color: white;
        font-size: 1rem;
    }
    .slider__item__text--charge {
        margin-top: -1rem;
        color: white;
        margin-bottom: 0.4rem;
    }

    .slider__item__text i {
        display: inline-block;
        font-size: 2rem;
        color: white;
        padding: 0.5rem;
        transition: 0.5s;
    }

    .slider__item__text i:hover {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 650px) {
    :root {
        --background-image: url("../../public/img/violin.jpg");
    }

    html {
        background: url("../../public/img/violin.jpg") no-repeat center top;
        background-attachment: scroll;       
    }

    body {
        background: none; /* evita conflictos con el fondo de body */
        min-height: 200vh; /* asegura que haya suficiente espacio para el scroll */
    }

    .header__nav {
        z-index: 2000;
    }

    .header__nav  .bi {
        display: block;
    }

    /* Ocultar elementos del carrusel */
    .content__curtain,
    .content__container__btn--left,
    .content__container__btn--right {
        display: none;
    }

    /* Ajustar estructura principal */
    .content {
        display: block;
        height: auto;
        padding: 20px;
        padding-bottom: 50px;
    }

    .content__container {
        width: 100%;
        height: auto;
        background: transparent;
        display: block;
    }

    .content__container__h1 {
        font-size: 3rem;      
        margin-bottom: 2rem; 
        padding: 4%;
        height: auto;
        text-shadow: 1px 1px 0 black;
    }

    .content__container__div {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background: transparent;
        overflow: visible;
        border-radius: 0;
        align-items: center;
    }

    /* modificar slider para mostrar todas las cards */
    .slider__item {
        display: block;
        width: 90%;
        height: auto;
        margin-bottom: 20px;
        padding: 0 15px;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 15px;        
    }

    .article__container {
        display: flex;
        flex-direction: column;
        padding: 15px;
        backdrop-filter: blur(5px);
    }

    .slider__item__img {
        width: 100%;
        border-radius: 50%;
    }

    .slider__item__text {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    h3{
        margin-top: 2rem;
        color: white;
        font-size: 1.5rem;
    }
    
    .slider__item__text--paragraph {
        margin-top: .5rem;
        color: white;
        font-size: 1rem;
    }
    .slider__item__text--charge {
        margin-top: -1rem;
        color: white;
        margin-bottom: 0.5rem;
    }
    .slider__item__text i {
        display: inline-block;
    }

    .footer__logo {
        width: 20%;
        height: auto;
    }
}
