:root {
    --background-image: url("../../public/img/xilo_resized.jpeg");
    --h1_h2_h3-font: "Italiana", serif;
    --body-font: "Inter", serif;
}

@media only screen and (max-width: 800px) {
    :root {
        --background-image: url("../../public/img/violin.jpg");
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

h1,
h2,
h3 {
    font-family: var(--h1_h2_h3-font);
    font-weight: bolder;
    font-style: normal;
    text-shadow: 2px 2px 0 black;
}

body {
    background-image: var(--background-image);    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: var(--body-font);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;  
    height: 100%;
    display: flex;
    flex-direction: column;
}  

main {
    background: rgba(0, 0, 0, 0.4);
}
/*Esta parte ajusta las posiciones de las cortinillas de los lados y de la base del carrusel.*/
.content {      
    width: 100%;   
    height: 70vb;   
    display: grid;
    grid-template-columns:  1fr 2fr 1fr;  
    grid-template-rows: 1fr;    
    flex-grow: 1 ;
}

.content__curtain {
    width: 100%; 
    background-color: black;
    opacity: 0.6;
    display:flex;
    align-items: center;
    padding-right: 15px;
    height: 70vb;
}

.content__curtain--right {
    justify-self: start;
    justify-content: start;
}
.content__curtain--left {
    justify-self: end;
    justify-content: flex-end;
}

.content__container {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;      
    background-color: rgba(15, 15, 15, 0.2);  
       
}

.content__container__h1 {
    margin-top: 5%;
    width: 100%;
    height: 15%;
    text-align: center;
    color: rgb(248, 242, 242);
    font-size: 50px;
    font-weight: normal;    
}

.content__container__div {
    width: 80%;
    height: 60%;
    background-color: rgb(21, 20, 20);
    opacity: 0.5;    
}
/*CODIGO CARRUSEL*/

section{ 
    display: flex;
    width: 500px;
  }
  


.slider__item {
    position: absolute; 
    background: rgba(0,0,0,0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 35%;
    display:none;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    }
  
    .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5%;
    gap: 40px;
   
  }

  .slider__item__text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }
  
  h3{
    margin-top: 15%;
    color: white;
    font-size: 40px;
  }
  
  h2{
    margin-top: 20px;
    color: white;
    font-size: 25px;
  }
  p{
    color: white;
  }





.slider__item__img{
    width: 45%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    
}

.slider__item.active {
    display: block;
    
  }

  button {
    display: flex;
    position: absolute;
    top: 50%;
    padding: 5px;
    background-color: #fdfeff;
    color: rgb(22, 22, 22);
    font-weight: 600;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.5 rem;
  }
 #backSlide {
    left: 10px;
 }

 #nextSlide {
  right: 10px;
}
  button:hover {
    background-color: #5a5858;
    color: black;
  }


/*-------------------------------- Botones--------------------------------------- */

.content__container__btn--left {    
    background-color: rgb(15, 15, 15);
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 30px;
    text-align: center;      
    margin-left: 10px;
}

.content__container__btn--right {    
    background-color: rgb(15, 15, 15);
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 30px;
    text-align: center;    
   margin-left: 15px
}

@media only screen and (min-width: 576px) and (max-width: 800px) {
    :root {
        --background-image: url("../../public/img/violin.jpg");
    }   
    /*Esta parte ajusta las posiciones de las cortinillas de los lados y de la base del carrusel.*/
    .content {
        /*distribute the curtains with flex*/
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .content__curtain {
        width: 20%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
    }

    .content__slider__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content__slider__container--h1 {
        margin-top: 80;
        padding: 5rem;
        width: 100%;
        height: 15%;
        text-align: center;
        color: white;
        font-size: 50px;
        font-weight: 800;
    }

    .content__container__div {
        margin-top: 5rem;
        width: 90%;
        height:20rem;
        background-color: rgb(9, 9, 9);
        opacity: 0.5;
    }

    /*-------------------------------- Botones--------------------------------------- */

    .content__slider__container__btn--left {
         color: white;
        border: 1px solid white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 20px;        
    }

    .content__slider__container__btn--right {
        background-color: rgb(15, 15, 15);
        color: white;
        border: 1px solid white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 20px;      
    }
}

@media screen and (max-width: 575px) {
     /*Esta parte ajusta las posiciones de las cortinillas de los lados y de la base del carrusel.*/
    .content {
        /*distribute the curtains with flex*/
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .content__curtain {
        width: 5rem;
        height: 100%;
        background-color: black;
        opacity: 0.5;
    }

    .content__slider__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content__slider__container--h1 {
        margin-top: 10%;
        width: 100%;
        height: 15%;
        text-align: center;
        color: white;
        font-size: 50px;
        font-weight: 800;
    }

    .content__slider__container--article {
        width: 90%;
        height: 30%;
        background-color: rgb(9, 9, 9);
        opacity: 0.5;
    }

    /*-------------------------------- Botones--------------------------------------- */

    .content__slider__container__btn--left {
        color: white;
        border: 1px solid white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 20px;        
    }

    .content__slider__container__btn--right {
        background-color: rgb(15, 15, 15);
        color: white;
        border: 1px solid white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 20px;        
    }
}

