@import url(./style.css);

h1 {
    color: var(--txt-light);
}

main {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 2rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}