@import url(./style.css);

h1 {
    color: var(--txt-light);
}

main {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.construction-icon {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 1%;
    color: var(--txt-light);
}

/* --------------- SMALL SCREEN --------------- */
@media (max-width: 600px) {
    main {
        min-height: 90vh;
    }

    h1 {
        font-size: medium;
    }

    .construction-icon {
    font-size: larger;
    margin-bottom: 4%;
}
}